In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data_set = pd.read_csv("./MiningProcess_Flotation_Plant_Database.csv",decimal=",",parse_dates=["date"],infer_datetime_format=True).drop_duplicates()

In [4]:
data_set.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31

In [7]:
# print(len(data_set['% Iron Concentrate']))
# print(len(data_set['% Silica Concentrate']))

# plt.plot(data_set['% Iron Concentrate'])
print(max(data_set['date']))
# print(min(data_set['date']))
# print(type(data_set['date'][0]))
# print(data_set['date'][0] == data_set['date'][1])
# print(data_set['date'][0:10])

from statistics import mean, mode


k = 0
per_step_samples = []
i = 0
data_old = data_set['date'][0]

one_hour_step = pd.Timedelta(3.6e12)
one_hour_steps = []

for w, date in enumerate(data_set['date']):
    if date != data_old:
        # if i == 179:
        one_hour_steps.append(date - data_old == one_hour_step)

        if date - data_old != one_hour_step:
            print(date)
            print(data_old)
            print(date - data_old)
            print(w)
        
        if i == 0:
            print(f"{k} - {date}")

        data_old = date
        k += 1

        per_step_samples.append(i)
        i = 0
    else:
        i += 1
        

print(k)
data_mode = mode(per_step_samples)
# print(data_mode)
# print(min(per_step_samples))
complete_data = [sizes == data_mode for sizes in per_step_samples]
print(sum(complete_data))
# # plt.plot(per_step_samples)
# print(per_step_samples.index(0))
# print(per_step_samples[2641])

# print(type(data_old))
print(sum(one_hour_steps))

print(data_set['date'][26813])
print(data_set['date'][26814:])

2017-09-09 23:00:00
2017-03-29 12:00:00
2017-03-16 05:00:00
13 days 07:00:00
26813
2640 - 2017-07-11 08:00:00
2641 - 2017-07-11 09:00:00
2642 - 2017-07-11 10:00:00
2696 - 2017-07-13 16:00:00
4096
4079
4095
2017-03-16 05:00:00
26815    2017-03-29 12:00:00
26816    2017-03-29 12:00:00
26817    2017-03-29 12:00:00
26818    2017-03-29 12:00:00
26819    2017-03-29 12:00:00
                 ...
737448   2017-09-09 23:00:00
737449   2017-09-09 23:00:00
737450   2017-09-09 23:00:00
737451   2017-09-09 23:00:00
737452   2017-09-09 23:00:00
Name: date, Length: 709468, dtype: datetime64[ns]

/tmp/ipykernel_9168/2328275612.py:59: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  print(data_set['date'][26814:])

In [8]:
from statistics import mean, mode


k = 0
per_step_samples = []
i = 0
data_old = data_set['date'][26814]

one_hour_step = pd.Timedelta(3.6e12)
one_hour_steps = []

for w, date in enumerate(data_set['date'].loc[26814:]):
    if date != data_old:
        # if i == 179:
        one_hour_steps.append(date - data_old == one_hour_step)

        if date - data_old != one_hour_step:
            print(date)
            print(data_old)
            print(date - data_old)
            print(w)
        
        if i != 179:
            print(f"{k} - {date} - {i}")

        data_old = date
        k += 1

        per_step_samples.append(i)
        i = 0
    else:
        i += 1

print(k)

data_mode = mode(per_step_samples)
complete_data = [sizes == data_mode for sizes in per_step_samples]
print(sum(complete_data))

print(sum(one_hour_steps))

0 - 2017-03-29 13:00:00 - 180
276 - 2017-04-10 01:00:00 - 178
1539 - 2017-06-01 16:00:00 - 174
2187 - 2017-06-28 16:00:00 - 165
2188 - 2017-06-28 17:00:00 - 95
2210 - 2017-06-29 15:00:00 - 169
2211 - 2017-06-29 16:00:00 - 163
2490 - 2017-07-11 07:00:00 - 98
2491 - 2017-07-11 08:00:00 - 0
2492 - 2017-07-11 09:00:00 - 0
2493 - 2017-07-11 10:00:00 - 0
2494 - 2017-07-11 11:00:00 - 133
2546 - 2017-07-13 15:00:00 - 57
2547 - 2017-07-13 16:00:00 - 0
2548 - 2017-07-13 17:00:00 - 140
2855 - 2017-07-26 12:00:00 - 142
3947
3931
3947

In [45]:
import math

def round_up_float_to_2_decimals(num):
    return math.ceil(num * 100) / 100

util_data_set = data_set['Flotation Column 03 Air Flow'].loc[26814:].copy()
h = 0
all_data = []
for data in util_data_set:
    if h > 178:
        break
    
    all_data.append(data)
    # print(type(data))
    h += 1

print(round_up_float_to_2_decimals(mean(all_data)))

199.98

Do cÃ³digo confuso basta entender:
- O indice 26814 Ã© um marco que indica que os dados comeÃ§aram a ser apropriadamente coletados a partir desse indice.
- De hora em hora geralmente sÃ£o coletadas 180 amostras e os dados utilizados